/* BASIC RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f5f5;
  color: #333;
}

header {
  background: #ae50d6;
  color: white;
  text-align: center;
  padding: 20px;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr 250px;
  gap: 20px;
  padding: 20px;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

nav button {
  padding: 10px;
  background: #e0e0e0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

nav button.active {
  background: #ae50d6;
  color: white;
}

main, aside {
  background: white;
  padding: 20px;
  border-radius: 5px;
}
aside{
    background: #ae50d6;
    color:#f5f5f5;
}


